<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcc.tagcc.dao.ContentDao">

    <insert id="addShareContent">
		insert into t_share_base (
			url_name,
			icon,
			url,
			weight,
			collection,
			uid
		) values (
			#{urlName},
			#{icon},
			#{url},
			#{weight},
			#{collection},
			#{userId}
		)
    </insert>

	<insert id="addTouristShareContent">
		insert into t_share_base (
			url_name,
			url,
			uid
		) values (
			#{urlName},
			#{url},
			#{userId}
		)
	</insert>

	<delete id="deleteShareContent">
		delete from t_share_base where id = #{id}
	</delete>

    <!-- 返回集合，返回类型写List里的泛型类型 -->
	<select id="querySelfContent" resultType="com.gcc.tagcc.entity.ShareContent">
		select
			id,url_name as urlName,icon,url,weight,collection,uid
		from t_share_base where uid = #{userId} order by weight desc limit 0,199
	</select>

	<!--  模糊查询列表	-->
	<select id="querySelfLikeContent" resultType="com.gcc.tagcc.entity.ShareContent">
		select
			id,url_name as urlName,icon,url,weight,collection,uid
		from t_share_base where uid = #{userId} and url_name like "%"#{keyword}"%" order by weight desc limit 0,199
	</select>

	<update id="upShareContent">
		update
			t_share_base set weight = #{weight}
		where id = #{id}
	</update>

</mapper>