<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcc.tagcc.dao.UserDao">

	<insert id="register">
		insert into t_user_base (
			username,
			nickname
		) values (
			#{username},
			#{nickname}
		)
	</insert>

	<select id="getUserByUsername" resultType="com.gcc.tagcc.entity.User">
		select id, username, password, nickname
		from t_user_base where username = #{username}
	</select>

	<select id="findUserById" resultType="com.gcc.tagcc.entity.User">
		select id, username, password, nickname
		from t_user_base where id = #{userId}
	</select>

</mapper>